@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Source+Sans+Pro:300,400,600,700');
body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height:22px;
	font-weight:300;
	font-size:18px;
}
img {
	max-width:100%;
	height:auto
}
header {
	width:100%;
	position:fixed;
	z-index:99;
	background:#ffffff;/*-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 1px 4px 0px rgba(0, 0, 0, 0.2);
box-shadow:         0px 1px 4px 0px rgba(0, 0, 0, 0.2);*/
}
.header-row1 {
	padding:10px 0px;
}
.header-right {
	margin-top:5px;
}
.top-contact {
	font-size:18px;
	color:#333333;
	border-right:#dddddd solid 1px;
	width:140px;
	float:right;
	padding-right:20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
}
.top-contact span {
	width:100%;
	float:left;
	color:#777777;
	font-weight:400;
}
.top-contact i {
	font-size:15px;
}
.top-btn-cont {
	width:auto;
	margin-left:20px;
	float:right;
	margin-top:3px;
}
.contact-btn1 {
	background:#0594d2;
	color:#ffffff;
}
.contact-btn1:hover {
	background:#40aeef;
	color:#ffffff;
}
.contact-btn2 {
	background:#68b716;
	color:#ffffff;
}
.contact-btn2:hover {
	background:#8ac53a;
}
a {
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.header-row2 {
	border-top:#eeeeee solid 1px;
}
ul {
	margin:0px;
	padding:0px;
}
/*menu*/

nav {
	position:relative;
	margin:0 auto;
	font-family: 'Poppins', sans-serif;
}
#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
	border:0;
	list-style:none;
	line-height:1;
	display:block;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
#cssmenu:after, #cssmenu > ul:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0
}
#cssmenu #head-mobile {
	display:none
}
#cssmenu {
}
#cssmenu > ul > li {
	float:left;
}
#cssmenu > ul > li > a {
	padding:15px 25px;
	font-size:16px;
	letter-spacing:0px;
	text-decoration:none;
	color:#222222;
	font-weight:300;
	text-transform:uppercase;
}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
	color:#fff
}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
	background:#333333!important;
	-webkit-transition:background .3s ease;
	-ms-transition:background .3s ease;
	transition:background .3s ease;
}
#cssmenu > ul > li.has-sub > a {
/*padding-right:30px*/
}
/*#cssmenu > ul > li.has-sub > a:after {
	position:absolute;
	top:22px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#ddd;
	content:''
}
#cssmenu > ul > li.has-sub > a:before {
	position:absolute;
	top:19px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#ddd;
	content:'';
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	transition:all .25s ease
}
#cssmenu > ul > li.has-sub:hover > a:before {
	top:23px;
	height:0
}*/
#cssmenu ul ul {
	position:absolute;
	left:-9999px
}
#cssmenu ul ul li {
	height:0;
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	background:#333;
	transition:all .25s ease
}
#cssmenu ul ul li:hover {
}
#cssmenu li:hover > ul {
	left:auto
}
#cssmenu li:hover > ul > li {
	height:37px
}
#cssmenu ul ul ul {
	margin-left:100%;
	top:0
}
#cssmenu ul ul li a {
	border-bottom:1px solid rgba(150,150,150,0.15);
	padding:11px 15px;
	width:250px;
	font-size:14px;
	text-decoration:none;
	color:#ddd;
	font-weight:400;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
	border-bottom:0
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color:#ffffff;
	background:#68b716;
}
#cssmenu ul ul li.has-sub > a:after {
	position:absolute;
	top:16px;
	right:11px;
	width:8px;
	height:2px;
	display:block;
	background:#ddd;
	content:''
}
#cssmenu ul ul li.has-sub > a:before {
	position:absolute;
	top:13px;
	right:14px;
	display:block;
	width:2px;
	height:8px;
	background:#ddd;
	content:'';
	-webkit-transition:all .25s ease;
	-ms-transition:all .25s ease;
	transition:all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top:17px;
	height:0
}
#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background:#363636;
}
#cssmenu ul ul ul li.active a {
	border-left:1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top:1px solid #333
}
 @media screen and (max-width:1000px) {
nav {
	width:100%;
}
#cssmenu {
	width:100%
}
#cssmenu ul {
	width:100%;
	display:none
}
#cssmenu ul li {
	width:100%;
	border-top:1px solid #eeeeee
}
#cssmenu ul li:hover {
	background:#363636;
}
#cssmenu ul ul li, #cssmenu li:hover > ul > li {
	height:auto
}
#cssmenu ul li a, #cssmenu ul ul li a {
	width:100%;
	border-bottom:0
}
#cssmenu > ul > li {
	float:none
}
#cssmenu ul ul li a {
	padding-left:25px
}
#cssmenu ul ul li {
	background:#333!important;
}
#cssmenu ul ul li:hover {
	background:#363636!important
}
#cssmenu ul ul ul li a {
	padding-left:35px
}
#cssmenu ul ul li a {
	color:#ddd;
	background:none
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
	color:#fff
}
#cssmenu ul ul, #cssmenu ul ul ul {
	position:relative;
	left:0;
	width:100%;
	margin:0;
	text-align:left
}
#cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
	display:none
}
#cssmenu #head-mobile {
	display:block;
	padding:23px;
	color:#444444;
	font-size:12px;
}
.button {
	width:55px;
	height:46px;
	position:absolute;
	right:0;
	top:0;
	cursor:pointer;
	z-index: 12399994;
}
.button:after {
	position:absolute;
	top:22px;
	right:20px;
	display:block;
	height:8px;
	width:20px;
	border-top:2px solid #444444;
	border-bottom:2px solid #444444;
	content:''
}
.button:before {
	-webkit-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
	position:absolute;
	top:16px;
	right:20px;
	display:block;
	height:2px;
	width:20px;
	background:#444444;
	content:''
}
.button.menu-opened:after {
	-webkit-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
	top:23px;
	border:0;
	height:2px;
	width:19px;
	background:#444444;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg)
}
.button.menu-opened:before {
	top:23px;
	background:#444444;
	width:19px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
#cssmenu .submenu-button {
	position:absolute;
	z-index:99;
	right:0;
	top:0;
	display:block;
	border-left:1px solid #eeeeee;
	height:46px;
	width:46px;
	cursor:pointer
}
#cssmenu .submenu-button.submenu-opened {
	background:#262626
}
#cssmenu ul ul .submenu-button {
	height:34px;
	width:34px
}
#cssmenu .submenu-button:after {
	position:absolute;
	top:22px;
	right:19px;
	width:8px;
	height:2px;
	display:block;
	background:#777777;
	content:''
}
#cssmenu ul ul .submenu-button:after {
	top:15px;
	right:13px
}
#cssmenu .submenu-button.submenu-opened:after {
	background:#fff
}
#cssmenu .submenu-button:before {
	position:absolute;
	top:19px;
	right:22px;
	display:block;
	width:2px;
	height:8px;
	background:#777777;
	content:''
}
#cssmenu ul ul .submenu-button:before {
	top:12px;
	right:16px
}
#cssmenu .submenu-button.submenu-opened:before {
	display:none
}
#cssmenu ul ul ul li.active a {
	border-left:none
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
	border-top:none
}
}
.slider-cont {
	width:100%;
	float:left;
	margin-top:128px;
}
.home-part1 {
	width:100%;
	float:left;
	padding:60px 0px;
	background:url(../images/bg-conten-bottom.png) repeat;
}
.heading1 {
	text-align:center;
	background:url(../images/spe1.png) center bottom no-repeat;
	padding-bottom:30px;
	margin-bottom:25px;
}
.heading1 h2 {
	text-align:center;
	font-size:50px;
	font-family: 'Poppins', sans-serif;
	color:#333333;
	font-weight:bold;
	text-transform:uppercase;
	margin-bottom:0px;
	font-weight:500;
}
.heading1 span {
	font-size:24px;
	font-weight:300;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform:none;
}
.pro-thumb {
	margin-top:30px;
}
.img-box {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden
}
.img-box img {
	display: block;
	position: relative;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}
.img-box {
	position: relative
}
.info-box .info-content {
	line-height: 1;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px
}
.zoom-out-effect {
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.zoom-out-effect .img-box a:active:hover, .zoom-out-effect .img-box a:focus:hover, .zoom-out-effect .img-box a:hover {
	color: #f2f2f2
}
.zoom-out-effect .img-box {
	z-index: 0
}
.zoom-out-effect:hover img {
	-webkit-transform: translateZ(0) scale(1.15, 1.15);
	-moz-transform: translateZ(0) scale(1.15, 1.15);
	-ms-transform: translateZ(0) scale(1.15, 1.15);
	-o-transform: translateZ(0) scale(1.15, 1.15);
	transform: translateZ(0) scale(1.15, 1.15)
}
.img-box {
	position:relative;
	height:100%;
	z-index:1;
}
.img-caption {
	width:100%;
	float:left;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	z-index:2;
	top:0px;
	padding:10px;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.zoom-out-effect:hover .img-caption {
	background-color: rgba(0, 0, 0, 0.7);
}
.img-caption a {
	width:100%;
	height:100%;
	display:block;
}
.line {
	margin-top:15px;
	width:60px;
	height:4px;
	margin-left:10px;
	background:#ffffff;
}
.pro-name {
	font-size:24px;
	text-transform:uppercase;
	font-weight:500;
	position:absolute;
	bottom:25px;
	font-family: 'Poppins', sans-serif;
	left:15px;
	line-height:24px;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
.pro-name a {
	color:#ffffff;
	display:block;
}
a:hover {
	text-decoration:none;
}
.zoom-out-effect:hover .pro-name {
	bottom:35px;
}
.request-quote1 {
	width:100%;
	height:100%;
	display:table;
	border:#ffffff solid 1px;
}
.request-quote2 {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}
.img-caption2 {
	background:none;
	text-align:center;
	color:#ffffff;
	padding:10px;
	font-size:34px;
	font-family: 'Poppins', sans-serif;
	line-height:48px;
}
.img-caption2 img {
	float:none;
 display:;
}
.img-caption2 a {
	color:#ffffff;
	display:inline;
}
.heading2 {
	margin-top:75px;
}
.step {
	text-align:center;
	margin:20px 0px;
	font-size:25px;
	color:#333333;
	font-weight:400;
	text-transform:uppercase;
	line-height:28px;
}
.testimonials-cont {
	width:100%;
	float:left;
	padding:100px 0px;
	background:url(../images/testimonials-bg.png) center -100px no-repeat;
	background-size:cover;
}
.heading3 {
	color:#ffffff;
	background:url(../images/spe2.png) center bottom no-repeat;
}
.heading3 h2 {
	color:#ffffff;
}
.testimonials-cont .item {
	color:#ffffff;
	font-size:24px;
	text-align:center;
	line-height:34px;
}
.testimonials-cont .owl-theme .owl-dots .owl-dot.active span, .testimonials-cont .owl-theme .owl-dots .owl-dot:hover span {
	background: #68b716;
}
.testimonials-cont .owl-theme .owl-dots .owl-dot span {
	border-radius: 0px;
}
.homepage-gallery-cont {
	width:100%;
	float:left;
	padding:60px 0px;
	background:url(../images/gallery-bg.jpg) #fdfdfd center bottom no-repeat;
}
.gallery-thumb1 {
	margin-top:15px;
	margin-bottom:15px;
}
.home-faq-cont {
	width:100%;
	float:left;
	padding:60px 0px;
	background:#f2f2f2;
}
.home-faq-cont h5 {
	font-size:40px;
	font-family: 'Poppins', sans-serif;
	margin-bottom:25px;
}
/*faq*/



/*.smk_accordion{
	position: relative;
	margin-bottom: 20px;
}*/
.smk_accordion .accordion_in {
	position: relative;
	z-index: 10;
	margin-top: -1px;
	overflow: hidden;
	margin-bottom:19px;
	border-bottom:#ffffff solid 1px;
	padding-bottom:10px;
}
/* Head */
.smk_accordion .accordion_in .acc_head {
	position: relative;
	padding: 10px;
	font-size: 24px;
	display: block;
	cursor: pointer;
}
.smk_accordion .accordion_in:first-of-type, .smk_accordion .accordion_in:first-of-type .acc_head {
	border-radius: 3px 3px 0 0;
}
.smk_accordion .accordion_in:last-of-type, .smk_accordion .accordion_in:last-of-type .acc_content {
	border-radius: 0 0 3px 3px;
}
/* Content */
.smk_accordion .accordion_in .acc_content {
	color: #333333;
	padding: 3px 10px;
	line-height:25px;
}
.smk_accordion .accordion_in h1:first-of-type, .smk_accordion .accordion_in h2:first-of-type, .smk_accordion .accordion_in h3:first-of-type, .smk_accordion .accordion_in h4:first-of-type, .smk_accordion .accordion_in h5:first-of-type, .smk_accordion .accordion_in h6:first-of-type {
	margin-top: 5px;
}
/* Icon expand */
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -9px;
	background: url(../images/plusminus.png) center 0;
}
.smk_accordion .accordion_in.acc_active .acc_head .acc_icon_expand {
	background: url(../images/plusminus.png) center -18px;
}
/* JS requires */
.smk_accordion .accordion_in.acc_active .acc_content {
	display: block;
}
.smk_accordion .accordion_in.acc_active .acc_head {
/*background: #F9F9F9;*/
}
.smk_accordion.acc_with_icon .accordion_in .acc_head, .smk_accordion.acc_with_icon .accordion_in .acc_content {
	padding-left: 40px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}
.contact-form-cont {
	width:100%;
	float:left;
	background:#0594d2;
	padding:40px;
}
.contact-form-heading {
	width:100%;
	float:left;
	background:url(../images/spe1.png) center bottom no-repeat;
	color:#ffffff;
	text-align:center;
	padding-bottom:25px;
	margin-bottom:25px;
}
.contact-form-heading h5 {
	font-size:40px;
	text-transform:uppercase;
	margin-bottom:0px;
}
.contact-form-cont .form-control {
	border:none;
	border-radius:0px;
	height:40px;
}
.msg {
	height:100px !important;
}
.home-contact-form .contact-btn2 {
	font-size:20px;
	padding-left:20px;
	padding-right:20px;
}
.footer-cont {
	color:#ffffff;
	float:left;
	width:100%;
}
.footer-cont a {
	color:#ffffff;
}
.footer-row1 {
	width:100%;
	float:left;
	background:url(../images/bg-conten-bottom.png) #222222 repeat;
	padding:40px 0px;
}
.footer-part1 {
}
.footer-part1 i {
	font-size:14px;
}
.footer-part1 ul li {
	list-style:none;
	padding:0px 0px 10px 0px;
}
.footer-part1 h6 {
	font-size:22px;
	text-transform:uppercase;
	background:url(../images/line2.jpg) left bottom no-repeat;
	padding-bottom:5px;
	margin-bottom:15px;
}
.btn1 {
	background:#68b716;
	color:#ffffff;
}
.btn1:hover {
	background:#87c533;
	color:#ffffff;
}
.social-links i {
	font-size:28px;
}
.social-links a {
	margin-right:5px;
}
.footer-row2 {
	width:100%;
	float:left;
	padding:15px 0px;
	background:#111111;
	text-align:center;
}

